<h1>{{title}}</h1>
<h3>Dívidas</h3>
<hr />

<form [formGroup]="dividaForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class="control-label col-md-12 required">Cliente</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="clienteId">
        <option value="">--Selecione um cliente--</option>
        <option *ngFor="let c of clienteList" value={{c.clienteId}}>
          {{c.nome}}
        </option>
      </select>
    </div>
    <span class="text-danger" *ngIf="clienteId?.invalid && formDir.submitted">
      Cliente é obrigatório.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Valor</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="valorOriginal">
    </div>
    <span class="text-danger" *ngIf="valorOriginal?.invalid && formDir.submitted">
      Valor é obrigatório ou inválido.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Quantidade de parcelas</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="quantidadeParcelas">
    </div>
    <span class="text-danger" *ngIf="(quantidadeParcelas?.errors?.min || quantidadeParcelas?.errors?.required) && formDir.submitted">
      Quantidade de parcelas é obrigatório ou inválido.
    </span>
    <span class="text-danger" *ngIf="quantidadeParcelas?.errors?.max && formDir.submitted">
      Quantidade de parcelas ultrapassou a quantidade máxima permitida.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Data de vencimento</label>
    <div class="col-md-4">
      <input class="form-control" type="date" formControlName="dataVencimento">
    </div>
    <span class="text-danger" *ngIf="dataVencimento?.invalid && formDir.submitted">
      Data de vencimento é obrigatório.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Data do cálculo</label>
    <div class="col-md-4">
      <input class="form-control" type="date" formControlName="dataCalculo">
    </div>
    <span class="text-danger" *ngIf="dataCalculo?.invalid && formDir.submitted">
      Data do cálculo é obrigatório.
    </span>
  </div>

  <hr />
  <div class="form-group">
    <button type="submit" class=" btn btn-primary">Salvar</button>
    <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
  </div>
</form>
