<h1>Dívidas</h1>

<p *ngIf="!dividaList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/add-divida']">Cadastrar</a>
</p>

<table class='table' *ngIf="dividaList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Valor Original</th>
      <th>Valor Final</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of dividaList">
      <td>{{ d.dividaId }}</td>
      <td>{{ d.cliente.nome }}</td>
      <td>{{ d.valorOriginal }}</td>
      <td>{{ d.valorFinal }}</td>
      <td>
        <a [routerLink]="['/divida/view/', d.dividaId]">Visualizar</a> |
        <a [routerLink]="" (click)="delete(d.dividaId)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
