<h1>Visualizar</h1>
<h3>Dívida</h3>
<hr />
<p *ngIf="!divida"><em>Loading...</em></p>


<div class="form-group row">
  <label class="control-label col-md-12">Cliente: </label>
  <div class="col-md-4">
    <input class="form-control" type="text" value="{{divida?.cliente.nome}}" disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Data de vencimento: </label>
  <div class="col-md-4">
    <input class="form-control" type="text" value='{{divida?.dataVencimento | date : "dd/MM/y"}}' disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Dias atraso: </label>
  <div class="col-md-4">
    <input class="form-control" type="number" value="{{divida?.diasAtraso}}" disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Valor original: </label>
  <div class="col-md-4">
    <input class="form-control" type="number" value="{{divida?.valorOriginal}}" disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Valor juros: </label>
  <div class="col-md-4">
    <input class="form-control" type="number" value="{{divida?.valorJuros}}" disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Valor final: </label>
  <div class="col-md-4">
    <input class="form-control" type="number" value="{{divida?.valorFinal}}" disabled>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-md-12">Valor da comissão: </label>
  <div class="col-md-4">
    <input class="form-control" type="number" value="{{divida?.valorComissao}}" disabled>
  </div>
</div>


<div class="form-group row">
  <label class="control-label col-md-12">Telefone de orientação para ligar e negociar com um colaborador: </label>
  <div class="col-md-4">
    <input class="form-control" type="text" value="{{divida?.cliente.telefone}}" disabled>
  </div>
</div>


<div class="form-group">
  <label class="control-label col-md-12" style="padding-left:0;">Valor final de cada parcela: </label>
  <div class="form-group row" *ngFor="let p of divida.parcelas; let i = index">
    <div class="col-md-2">
      <label class="control-label">Parcela: </label>
      <input class="form-control" type="text" value="{{i + 1}}" disabled>
    </div>
    <div class="col-md-4">
      <label class="control-label">Valor final: </label>
      <input class="form-control" type="text" value="{{p.valorFinal}}" disabled>
    </div>
    <div class="col-md-4">
      <label class="control-label">Data do vencimento: </label>
      <input class="form-control" type="text" value='{{p.dataVencimento | date : "dd/MM/y"}}' disabled>
    </div>

  </div>
</div>

<hr />
<div class="form-group">
  <button class="btn btn-danger" (click)="back()">Voltar</button>
</div>
