<h1>{{title}}</h1>
<h3>Parâmetros</h3>
<hr />

<form [formGroup]="parametroForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Quantidade máxima de parcelas</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="quantidadeMaxParcelas">
    </div>
    <span class="text-danger" *ngIf="quantidadeMaxParcelas?.invalid && formDir.submitted">
      Quantidade máxima de parcelas é obrigatório ou inválido.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12 required">Tipo de juros</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="tipoJuros">
        <option value="">-- Selecione --</option>
        <option value="1">Simples</option>
        <option value="2">Composto</option>
      </select>
    </div>
    <span class="text-danger" *ngIf="tipoJuros?.invalid && formDir.submitted">
      Tipo de juros é obrigatório
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Porcentagem de juros (% ao dia)</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="porcentagemJuros">
    </div>
    <span class="text-danger" *ngIf="porcentagemJuros?.invalid && formDir.submitted">
      Porcentagem de juros é obrigatório ou inválido.
    </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12 required">Porcentagem da comissão da Paschoalotto</label>
    <div class="col-md-4">
      <input class="form-control" type="number" formControlName="percentualComissao">
    </div>
    <span class="text-danger" *ngIf="percentualComissao?.invalid && formDir.submitted">
      Porcentagem da comissão da Paschoalotto é obrigatório ou inválido.
    </span>
  </div>
  
  <hr />
  <div class="form-group">
    <button type="submit" class=" btn btn-primary">Salvar</button>
    <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
  </div>
</form>
